name: Blog CI/CD

on:
  push:
    branches: 
      - main

env:
  TZ: Asia/Shanghai

jobs:
  blog-cicd:
    name: Hexo blog build & deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout codes
      uses: actions/checkout@v4

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Cache node modules
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Install hexo dependencies
      run: |
        npm install hexo-cli -g
        npm install gulp -g
        npm install

    - name: Generate files
      run: |
        hexo clean
        hexo generate

    - name: Deploy hexo blog with GitHub Token
      env:
        PUBLISH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      run: |
        cd ./public
        git init
        git config user.name "GitHub Action"
        git config user.email "action@github.com"
        git add .
        git commit -m "GitHub Actions Auto Builder at $(date +'%Y-%m-%d %H:%M:%S')"

        git remote add origin https://x-access-token:${PUBLISH_TOKEN}@github.com/GayFirends/gayfirends.github.io.git
        git branch -M master
        git push --force origin master:master
